NODE_ENVIRONMENT=development

PORT=5000

MONGODB_URI=mongodb+srv://example_username:example_password@cluster0.ktxyk.mongodb.net/Library_Management_API_DB-PHNLB5-M4A4?retryWrites=true&w=majority&appName=Cluster0
//Change these 2 values:  ↑--------------↑ ↑--------------↑

